pre {
	display: block;
	font-size: 14px;
	margin: 1em;
	width: calc(100% - 8em);
	color: white;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding-left: 10ex;
	padding-right: 1ex;
	text-indent: -10ex;
	border-right: 1em solid;
	width: calc(100% - 9em);
	overflow-y: hidden;
}

/* Collapse/Expand */

pre.collapse[closed="true"] {
	height: 16px;
	cursor: -webkit-zoom-in;
	border-right-width: 0.5em;
	padding-right: calc(1ex + 0.5em);
}

pre.collapse[closed="false"] {
	cursor: -webkit-zoom-out;
}
