body {
	font-family: sans-serif;
	background-color: #eee;
	margin-top: 60px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 5px;
	height: 25px;
}

pre {
	margin: 0.5em 0;
}

pre.input {
	color: purple;
}

pre.info {
	color: blue;
}

pre.success {
	color: green;
}

pre.error {
	color: red;
}
