body {
	font-family: sans-serif;
	background-color: black;
	margin-top: 60px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 5px;
	height: 25px;
}

pre {
	margin: 0.5em 0;
}
